﻿table{
    border-collapse:collapse;
}
td{
    border:1px solid black;
    padding:5px;
}
th{
    border:1px solid black;
    padding:5px;
    text-align:left;
    cursor:pointer;
}
.arrow-up{
    width:0;
    height:0;
    background-color:palevioletred;
    border-left:5px solid transparent;
    border-bottom:10px solid transparent;
    display:inline-block;
}
.arrow-down{
    width:0;
    height:0;
    background-color:rebeccapurple;
    border-left:5px solid transparent;
    border-bottom:10px solid transparent;
    border-bottom:10px solid black;
    display:inline-block;
}